.timeline-container {
  display: flex;
  height: 30rem;
  padding-top: 30px;
}

.timeline-container__timeline {
  background-color: #4c4c4c;
  height: 100%;
  width: 3px; 
  position: relative;
}

.timeline-container__timeline__line {
  display: flex;
  background-color: #4c4c4c;
  height: 3px;
  width: 6rem; 
  position: relative;
  top: 85%;
}

.timeline-container__timeline__box {
  display: flex;
  position: relative;
  top: 77%;
  height: 5rem;
  width: 15rem; 
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.timeline-container__timeline__box__logo-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%; 
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: rgba(136, 165, 191, 0.20) 6px 2px 16px 0px, rgba(255, 255, 255, 0.2) -6px -2px 16px 0px;
}

.timeline-container__timeline__box__company {
  width: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timeline-container__timeline__box__name {
  border-bottom: 1px solid #4c4c4c;
  font-size: 18px;
}

.timeline-container__timeline__box__title {
  font-size: 16px;
  color: rgb(131, 129, 129);
}

.timeline-container__timeline__date {
  margin-right: 1rem;
  position: relative;
  top: 10%;
}

@media only screen and (max-width: 1000px) {
  .timeline-container {
    justify-content: center;
  }

  .timeline-container__date {
    display: none;
  }

  .timeline-container__timeline {
    display: none;
  }

  .timeline-container__timelines {
    display: none;
  }

  .timeline-container__timeline__box {
    width: auto;
  }

  img.profile {
    margin-top: 10px;
    max-height: 85%;
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
  }
}

