.container {
  display: flex;
  height: 500px;
  padding: 10px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.employment-line-element {
  height: 4px;
  margin: 10px;
}
