.employment-line-name {
  color: red;
}

.container {
  display: flex;
  height: 500px;
  padding: 10px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.square1 {
  width: 4px;
  height: 4px;
  background-color: blue;
  margin: 10px;
}
