header {
  background: #eae5e5;
  margin-bottom: 1.45rem;
}

h1 {
  margin: 0px;
}

a {
  color: #4c4c4c;
  text-decoration: none;
}

.sub-heading {
  font-size: 16px;
  padding-top: 10px;
}

.header-container {
  display: flex;
  margin: 0px auto;
  max-width: 1000px;
  padding: 1.45rem 1.0875rem 0;
}

.timeline-heading-brand {
  width: 10px;
  margin: 0px 4px;
  border-radius: 15px;
}

.timeline-heading-red {
  background-color: #d64859;
}

.timeline-heading-blue {
  background-color: #7ecdd3;
}

.timeline-heading-yellow {
  background-color: #d0c74b;
}

@media only screen and (max-width: 1000px) {
  .header-container {
    display: block;
    text-align: center;
  }
}
