main {
  display: flex;
}

.image-container {
  max-width: 300px;
  margin-bottom: 1.45rem;
  min-width: 350px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.children-container {
  width: 100%;
  margin-left: 50px;
}

.greeting {
  font-size: 78px;
}

.sub-greeting {
  font-size: 34px;
  padding: 10px 0;
}

.separator {
  height: 15px;
  border-radius: 50px;
  margin-bottom: 30px;
  width: 30%;
}

.left {
  background-color: #d64859;
}
.center{
  background-color: #7ecdd3;
}
.right {
  background-color: #d0c74b;
}

.separator-container {
  display: flex;
  justify-content: space-between;
}

.page-information {
  padding: 8px;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 15px;
  margin-top: 16px;
  margin-bottom: 16px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

.page-information__text {
  margin: 8px;
}

.pagination {
  margin-left: 0px;
  display: flex;
  list-style: none;
  width: 40%;
  cursor: pointer;
}

.previous a {
  color: #7ecdd3;
}

.next a {
  color: #7ecdd3;
}

.page-link-next {
  padding: .375rem .75rem;
  position: relative;
  display: block;
  border-radius: 0 15px 15px 0;
  color: #7ecdd3;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.page-link-previous {
  padding: .375rem .75rem;
  position: relative;
  display: block;
  border-radius: 15px 0 0 15px;
  color: #7ecdd3;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.page-link {
  padding: .375rem .75rem;
  position: relative;
  display: block;
  color: #7ecdd3;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.page-link-previous:focus {
  z-index: 3;
  color: #0a58ca;
  outline: 0;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
  box-shadow: 0 0 0 0.10rem rgb(13 110 200 / 25%);
}

.page-link-next:focus {
  z-index: 3;
  color: #0a58ca;
  outline: 0;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
  box-shadow: 0 0 0 0.10rem rgb(13 110 200 / 25%);
}

li.active .page-link {
  color: #4c4c4c;
  background-color: #f0f3f5;
}

.text-body {
  font-size: medium;
}

.sub-text {
  display: flex;
  padding-top: 10px;
  font-size: small;
}

.empty-posts {
  font-size: medium;
  font-style: italic;
  color: #4c4c4c;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
}

input {
  font-size: medium;
  color: #4c4c4c;
  width: 100%;
  padding: 8px 16px;
  border-radius: 15px;
  border: none;
  background-color: #f5f5f5;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-size: small;
  font-style: italic;
}

@media only screen and (max-width: 1000px) {
  main {
    display: block;
  }

  .image-container {
    margin-left: auto;
    margin-right: auto;
  }

  .children-container {
    width: 100%;
    margin-left: 0px;
  }

  .sub-greeting {
    font-size: 20px;
  }

  .greeting {
    font-size: 40px;
    text-align: initial;
  }

  .content-container {
    margin: 0px 25px;
  }

  .heading-colors {
    display: none;
  }
}
