@media only screen and (max-width: 1000px) {
  .posts-container {
    width: 350px;
    margin: auto;
  }
}

@media only screen and (max-width: 500px) {
  .posts-container {
    width: 100%;
    margin: auto;
  }
}