.post-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: rgb(245, 245, 245);
  border-radius: 15px;
  box-shadow: rgba(136, 165, 191, 0.20) 6px 2px 16px 0px, rgba(255, 255, 255, 0.2) -6px -2px 16px 0px;
  padding: 10px 20px;
  margin: 15px 0;
  cursor: pointer;
}

.post-item-descriptive-container {
  display: flex;
  justify-content: space-between;
}

.post-item-category-content {
  display: flex;
  font-size: 14px;
  color: rgb(131, 129, 129);
  margin-bottom: 0px;
}

.post-item-container:hover {
  box-shadow: rgba(136, 165, 191, 0.20) 10px 4px 16px 0px, rgba(255, 255, 255, 0.2) -10px -3px 16px 0px;
}

.post-item-title {
  font-size: 18px;
  border-bottom: 1px solid;
}

.post-item-divider {
  height: 1px !important;
  width: auto;
  background-color: red;
}

.post-item-date {
  display: flex;
  color: rgb(131, 129, 129);
}

.post-item-content {
  font-size: 14px;
  margin: inherit;
}

@media only screen and (max-width: 1000px) {
  .post-item-container {
    margin-left: auto;
    margin-right: auto;
  }
}